# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/.vs
/debug
/release
/QtFFmpegWrapper.sln
/QtFFmpegWrapper.vcxproj
/QtFFmpegWrapper.vcxproj.filters
/QtFFmpegWrapper.vcxproj.user
/vc140.pdb
/QtFFmpegWrapper.sdf
